# Read me

The current datasets relevant to our project scope are:
Contact.csv and Hire information.csv

This code merge and match them using the ID (Contact *ID* with Hire information *Client_Name__c*)

In [1]:
import numpy as np
import pandas as pd

In [2]:
contact_dataset = pd.read_csv('SalesForce_Contact.csv', encoding='latin', low_memory=False)

In [34]:
print("Id Column Facts:")
print("Unique Values:", contact_dataset['Id'].nunique())
print("Null Values:", contact_dataset['Id'].isna().sum())
#dtypeCount =[contact_dataset.iloc[:,i].apply(type).value_counts() for i in range(contact_dataset.shape[1])]
#dtypeCount[0]
contact_dataset.shape

Id Column Facts:
Unique Values: 132445
Null Values: 0

(132445, 391)

In [4]:
hire_dataset = pd.read_csv('SalesForce_Hire_Information.csv', encoding='latin', low_memory=False)

In [32]:
print("Client_Name__c Column Facts:")
print("Unique Values:", hire_dataset['Client_Name__c'].nunique())
print("Null Values:", hire_dataset['Client_Name__c'].isna().sum())
#dtypeCount =[hire_dataset.iloc[:,i].apply(type).value_counts() for i in range(hire_dataset.shape[1])]
#dtypeCount[12]
hire_dataset.shape

Client_Name__c Column Facts:
Unique Values: 30540
Null Values: 0

(30754, 34)

In [28]:
full_dataset = pd.merge(contact_dataset, hire_dataset, left_on='Id', right_on='Client_Name__c')

In [29]:
full_dataset.head()

,Id_x,AccountId,RecordTypeId,MailingState,MailingPostalCode,MailingCountry,LeadSource,OwnerId,HasOptedOutOfEmail,HasOptedOutOfFax,...,X7_Day_Review__c,Months_Unemployed__c_y,Revised_Resume_Used_to_Apply_for_Job__c_y,Hired_but_still_active_and_looking__c_y,Date_Submitted_For_Hire__c,Hire_Confirmed_By__c,Area_Manager_Approved__c,PIM_Approved__c,Ops_Review_Date__c,Multiple_Hire__c
0,0030z00002PrWi1AAF,0015000000KUwKAAA1,01238000000UVfW,ID,83815,United States,NaN,00538000005F2ADAA0,0,0,...,NaN,NaN,1,0,10/22/2018 0:00,00538000005F2ADAA0,1,1,10/29/2018 0:00,0.0
1,0030z00002PrWn1AAF,0015000000KUwKAAA1,01238000000UVfW,CA,92103,United States,NaN,005380000063Mf7AAE,0,0,...,NaN,NaN,1,0,10/8/2018 0:00,005380000063Mf7AAE,1,1,10/15/2018 0:00,0.0
2,0030z00002PrXLpAAN,0015000000KUwKAAA1,01238000000UVfW,GA,31324,United States,NaN,00538000004sKV8AAM,0,0,...,0.0,1.0,1,0,11/28/2018 0:00,00538000004sKV8AAM,1,1,12/3/2018 0:00,0.0
3,0030z00002PrXU9AAN,0015000000KUwKAAA1,01238000000UVfW,TX,77006,United States,NaN,005380000063MfvAAE,0,0,...,0.0,NaN,0,0,12/14/2018 0:00,005380000063MfvAAE,1,1,12/17/2018 0:00,0.0
4,0030z00002PrXpMAAV,0015000000KUwKAAA1,01238000000UVfW,TX,77450,United States,NaN,00538000004wgQWAAY,0,0,...,NaN,1.0,0,0,9/14/2018 0:00,00538000004wgQWAAY,1,1,9/17/2018 0:00,0.0

### After the merge, if both datasets have a column with the same name pd:

- Add *_x* to contact_dataset column
- Add *_y* to hire_dataset column

In [35]:
print("Id_x Column Facts:")
print("Unique Values:", full_dataset['Id_x'].nunique())
print("Null Values:", full_dataset['Id_x'].isna().sum())
#dtypeCount =[full_dataset.iloc[:,i].apply(type).value_counts() for i in range(full_dataset.shape[1])]
#dtypeCount[0]
full_dataset.shape

Id_x Column Facts:
Unique Values: 30540
Null Values: 0

(30754, 425)

In [36]:
full_dataset.to_csv("full_dataset.csv", index=False)

In [37]:
full_dataset_final = pd.read_csv('full_dataset.csv', encoding='latin', low_memory=False)
print("Id_x Column Facts:")
print("Unique Values:", full_dataset_final['Id_x'].nunique())
print("Null Values:", full_dataset_final['Id_x'].isna().sum())
#dtypeCount =[full_dataset_final.iloc[:,i].apply(type).value_counts() for i in range(full_dataset_final.shape[1])]
#dtypeCount[0]
full_dataset_final.shape

Id_x Column Facts:
Unique Values: 30540
Null Values: 0

(30754, 425)